@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    /* Primary */
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    /*Neutral*/
    --Transparent-white: hsla(0, 0%, 100%, 0.75); 
    --Very-light-gray: hsl(0, 0%, 95%);  /*(background, headings, buttons)¨*/
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    /* background-color: rgb(181, 223, 114); */
}

.card-container {
    width: 70vw;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    margin-bottom: 6rem;
    /* background-color: aqua; */
}

.card-item-container {
    padding: 20px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

main .card-container .card-item-container:nth-child(1) {
    background-color: var(--Bright-orange);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

main .card-container .card-item-container:nth-child(2) {
    background-color: var(--Dark-cyan);
}

main .card-container .card-item-container:nth-child(3) {
    background-color: var(--Very-dark-cyan);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.info-card-container {
    background-color: aqua;
    margin: 10px ;
}

.card-item-container img {
    width: 80px;
    margin: 10px;
}

.card-item-container h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--Very-light-gray);

}

.card-item-container p {
    width: 70%;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--Transparent-white);
}

.card-item-container button {
    width: 140px;
    height: 50px;
    background: var(--Very-light-gray);
    border: none;
    padding: 14px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.card-item-container button:hover {
    background: none;
    color: var(--Very-light-gray) !important;
    border: solid 1px #fff;
    
}

.card-container .card-item-container:nth-child(1) button {
    color: var(--Bright-orange);
}

.card-container .card-item-container:nth-child(2) button {
    color: var(--Dark-cyan);
}

.card-container .card-item-container:nth-child(3) button {
    color: var(--Very-dark-cyan);
}

.attribution {
    font-family: 'Lexend Deca', sans-serif;
}


@media (max-width:980px) {
    .card-container {
        width: 96vw;
    }
}

@media (max-width:660px) {
    .card-container {
        flex-direction: column;
        margin-top: 30px;
    }

    .card-item-container {
        margin: 0 auto;
    }

    /* .main-container {
        height: auto;
    } */

    main .card-container .card-item-container:nth-child(1) {
        background-color: var(--Bright-orange);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
    }

    main .card-container .card-item-container:nth-child(3) {
        background-color: var(--Very-dark-cyan);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}

@media (max-width:520px) {
.card-container {
    padding: 0;
}

    .card-item-container {
        width: 88vw;
    }

}












